@import reset
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap')
$green: #94f3eb
$darkgreen: #0f98a1


html
    // font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    font-family: 'Inter', sans-serif
    // font-size: 1px

main
    display: flex
    min-height: 100vh
    align-items: center
    flex-direction: column
    justify-content: center

    .container
        width: 400px
        height: fit-content
        border: 1px solid black
        padding: 40px
        min-height: 200px
        border-radius: 40px
        display: flex
        flex-direction: column
        align-items: center
        margin: 40px
    
.Login
    background: lightblue

    &-form
        gap: 20px
        display: flex
        align-items: center
        flex-direction: column

        input[type=text]
            width: 200px
            height: 30px
            border: 1px solid black
            padding: 15px
            border-radius: 15px
        
        button
            width: 200px
            border: 1px solid black
            min-height: 30px
            border-radius: 15px

.Feed
    gap: 10px

    &-nav

        ul
            display: flex
            width: 250px
            // height: 30px
            justify-content: space-evenly
            margin-bottom: 10px

            li
                background: $green
                width: 100%
                line-height: 150%
                text-align: center
                border-top: 1px solid black
                border-bottom: 1px solid black
                border-radius: 15px !important

                &:first-of-type
                    border-left: 1px solid black
                    border-radius: 10px 0 0 10px

                &:last-of-type
                    border-right: 1px solid black    
                    border-radius: 0 10px 10px 0                    

                &:not(:last-of-type)
                    border-right: 1px solid black
                    margin-right: 10px
                    
                &:hover
                    opacity: .8

    &-container
        display: flex
        flex-direction: column
        gap: 15px

        .all

        .subs
    
    &-profile-button
        text-decoration: none
        color: $darkgreen
        

.Post
    border: 1px solid black
    border-radius: 10px
    padding: 10px
    gap: 5px
    display: flex
    flex-direction: column

    &-top
        display: flex

        &-author
            font-weight: bold
            margin-bottom: 5px

        &-content
    
    &-like-button
        width: fit-content
        height: fit-content
        margin-right: 1px
        fill: $darkgreen
        &:hover
            fill: $green
        &:active
            transform: scale(1.1)

        .s0 
            fill: none//$darkgreen
            stroke: #000000
            paint-order:stroke fill markers
            stroke-linejoin: round
            stroke-width: 1s

            &:hover
                fill: $darkgreen
                // stroke: none
    
    &-likes
        display: flex
        flex-wrap: wrap
        gap: 0 4px 
        font-size: 12px
        // user-select: none
        
        .name
            text-decoration: none
            font-style: italic
            color: $darkgreen
            // white-space: normal
            &:not(:last-of-type)::after
                content: ','
                    

                    



            